# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## **objectives:**
+ List popular Data science languages
+ List popular Data science libraries
+ List popular Data science tools
+ Show basic arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Pytorch

|Data Science Tools|
|-----|
|Jupyter Notebook|
|IBM Watson Studio|
|Apache Spark|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
hours=str(200/6)
print("200 minuites ="+hours+"hours")

200 minuites =33.333333333333336hours

## Author
Muhammed Riswan M P